{% extends "base.html.jinja" %}

{% block title %}
Bookmarked Pages
{% endblock %}

{% block header %}
Bookmarked Pages
{% endblock %}

{% block content %}
  {% for page in bookmarked_pages %}
  <div class="card mt-3">
    <div class="card-header">
      {{ page.title }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ page.content[:100] }}{% if page.content|length > 100 %}...{% endif %}</p>
      <a title="Unbookmark" href="{{ url_for('toggle_bookmark', page_id=page._id, bookmark_page=true) }}" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 13.566V2a1 1 0 0 0-1-1H4z"/>
          <path fill-rule="evenodd" d="M9.854 5.646a.5.5 0 0 0-.708 0L7 8.293 5.854 6.646a.5.5 0 1 0-.708.708L6.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L7 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L7.707 9l1.147-1.146a.5.5 0 0 0 0-.708z"/>
        </svg>
        Unbookmark
      </a>
    </div>
  </div>
  {% endfor %}
{% endblock %}