
{% extends "base.html.jinja" %}

{% block title %}
{{ page.title|e }}
{% endblock %}

{% block header %}
View - {{ page.title|e }}
{% endblock %}


{% block content %}
<div style="padding-bottom: 10px;">
    <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; position: relative;">
        <div class="breadcrumb">
            {% for page in breadcrumb(page, pages) %}
                <a href="{{ url_for('page', page_id=page._id|string()) }}">{{ page.title }}</a>
                {% if not loop.last %}/{% endif %}
            {% endfor %}
        </div>


        <h4 id="{{ page.urlsafe_title|e }}">{{ page.title|e }} 
            <a title="Get Link" href="#{{ page.urlsafe_title|e }}">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paragraph" viewBox="0 0 16 16">
                    <path d="M10.5 15a.5.5 0 0 1-.5-.5V2H9v12.5a.5.5 0 0 1-1 0V9H7a4 4 0 1 1 0-8h5.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-.5.5z"/>
                </svg>
            </a>
        </h4>



        <div class="dropdown">

            <a style="padding-top: 0px;" class="link-opacity-75 dropdown-toggle no-caret disable-hover" href="#" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </a>
            {# <button class="btn btn-secondary dropdown-toggle no-caret" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </button> #}
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton1">

                <li role="menuitem">
                <a title="Edit Page" href="{{ url_for('edit', page_id=page._id) }}" class="dropdown-item">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    Edit
                </a>
                </li>

                <li role="menuitem">
                <a title="Delete Page" href="{{ url_for('delete', page_id=page._id) }}" class="dropdown-item">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                        <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Delete
                </a>
                </li>

                <li role="menuitem">
                <a title="Download Page" href="{{ url_for('download', page_id=page._id) }}" class="dropdown-item">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                    </svg>
                    Download
                </a>
                </li>


                <li role="menuitem">
                <a title="Page History" href="{{ url_for('document_history', page_id=page._id) }}" class="dropdown-item">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    History
                </a>
                </li>


                <li role="menuitem">
                <a title="Bookmark Page" href="{{ url_for('toggle_bookmark', page_id=page._id) }}" class="dropdown-item">

                    {% if page.bookmarked == true  %}
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                    </svg>
                    {% else %}
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg>
                    {% endif %}
                    Bookmark
                </a>
                </li>

                {% if enable_accessibility_audio %}

                <!-- Adding an audio tag to play the audio -->
                <audio id="audioPlayer" src="{{ url_for('get_audio', document_id=page._id) }}" type="audio/mpeg" controls style="display:none;" hidden></audio>

                <li role="menuitem">
                <a title="Listen" href="#" class="dropdown-item" onclick="event.preventDefault(); playAudio();">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                        <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                        <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                        <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
                    </svg>
                    Listen
                </a>
                </li>

                <script>
                    function playAudio() {
                        let audioPlayer = document.getElementById('audioPlayer');
                        audioPlayer.style.display = 'block';
                        audioPlayer.play();
                    }
                </script>

                {% endif %}

            </ul>
        </div>
    </div>



    <small>
        Created 
        <a href="#" class="text-decoration-none" onclick="event.preventDefault();" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.created_at }}">
            {{ prettify_time_diff(page.created_at) }}
        </a> 
        (last edited 
        <a href="#" class="text-decoration-none" onclick="event.preventDefault();" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.last_edited }}">
            {{ prettify_time_diff(page.last_edited) }} 
        </a>)

        {%if 'parent_id' in page %}
        is a child of <a href="{{ url_for('page', page_id=page.parent_id)}}" class="text-decoration-none">{{ get_page(page.parent_id).title }}</a>
        {%endif%}
    </small>

    {% if page.tags|length > 0 %}
        <small>
            Tags: 
            {% for tag in page.tags %}
                <a href="{{ url_for('tags', tag_name=tag) }}" class="text-decoration-none">{{ tag }}</a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </small>
    {% endif %}

</div>



<div class="card p-3">
    <div class="card-body">
        <p>{{ page.content|safe }}</p>
    </div>
</div>
{# <a href="{{ url_for('edit', page_id=page._id) }}" class="btn btn-secondary mt-3">Edit page</a>
<a href="{{ url_for('delete', page_id=page._id) }}" class="btn btn-secondary mt-3">Delete page</a>
<a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to home</a> #}

{% endblock %}
{%block scripts%}

<script>
document.addEventListener("DOMContentLoaded", function(){
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
});
</script>
{%endblock%}