@media (min-width: 992px) {
    .resizable-div {
        max-width: 20vw;
    }
}

.expandable-icons {
    display: flex;
    /* position: absolute; */
    /* background-color: aliceblue; */
    right: 30px; /* Adjust this value as needed to place the icons to the left of the expand-button */
    /* top: 20px;  */
    white-space: nowrap; /* This keeps the icons from wrapping to the next line */
}
.expand-container {
    display: flex;
    align-items: center;
}

.expand-icon {
    transition: max-width 1.2s;
    vertical-align: middle;
    max-width: 0px; /* Using max-width instead of width allows the icons to size to their content */
    overflow: hidden;
    display: inline-block;
}

.expand-container:hover .expandable-icons .expand-icon {
    max-width: 300px; /* Adjust this value to change how much the icons expand */
}


.navbar {
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    padding-top: 8px;
    padding-bottom: 8px;
  }


.search-container {
    position: relative;
    width: 100%;
}

.search-dropdown {
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
}

.search-dropdown-item {
    padding: 10px;
}

.search-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


.tooltip .tooltip-inner {
    color: #fff; 
    background-color: #343A40; /* or any dark color of your choice */
}

.dragging {
    opacity: .5;
}