{% extends "base.html.jinja" %}

{% block title %}Create New Page{% endblock %}

{% block header %}
Create New Page
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="title" aria-describedby="TitleHelpInline">Title</label>
        <span id="TitleHelpInline" class="form-text">
        | Please give your page a title.
        </span>
        <input type="text" id="title" name="title" class="form-control" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;" required>
    </div>
    <div class="form-group mt-2">
        <label for="content" aria-describedby="ContentHelpInline">Content</label>
        <span id="ContentHelpInline" class="form-text">
        | Please add some MarkDown content.
        </span>
        <textarea id="content" name="content" class="form-control" rows="10" style="background-color: rgba(0, 0, 0, 0.25) ; color: #fff;" required></textarea>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-secondary mt-3">Create</button>
        <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to home</a>
    </div>
</form>


<div class="card mt-4">
    <div class="card-header">
        Preview
    </div>
    <div class="card-body" id="preview">
        <!-- Live preview will be rendered here -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('content').addEventListener('input', function() {
        var content = this.value;
        fetch('/render_md', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({content: content}),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('preview').innerHTML = data.content;
        });
    });
});
</script>
{% endblock %}