
{% extends "base.html.jinja" %}

{% block title %}
{{ page.title|e }}
{% endblock %}

{% block header %}
View - {{ page.title|e }}
{% endblock %}


{% block content %}
<div class="card p-3">
    <div class="card-body">
        <p>{{ page.content|safe }}</p>
    </div>
</div>
<a href="{{ url_for('edit', page_id=page._id) }}" class="btn btn-secondary mt-3">Edit page</a>
<a href="{{ url_for('delete', page_id=page._id) }}" class="btn btn-secondary mt-3">Delete page</a>
<a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to home</a>
{% endblock %}