
{% extends "base.html.jinja" %}

{% block title %}
{{ page.title|e }}
{% endblock %}

{% block header %}
View - {{ page.title|e }}
{% endblock %}


{% block content %}
<div style="padding-bottom: 10px;">
<h4>{{ page.title|e }}</h4> <small>Created on {{ page.created_at }} (Last edited on {{ page.last_edited }})</small>
</div>

<div class="card p-3">
    <div class="card-body">
        <p>{{ page.content|safe }}</p>
    </div>
</div>
{# <a href="{{ url_for('edit', page_id=page._id) }}" class="btn btn-secondary mt-3">Edit page</a>
<a href="{{ url_for('delete', page_id=page._id) }}" class="btn btn-secondary mt-3">Delete page</a>
<a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to home</a> #}

<a title="Edit Page" href="{{ url_for('edit', page_id=page._id) }}" class="btn btn-secondary mt-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
    Edit
</a>

<a title="Delete Page" href="{{ url_for('delete', page_id=page._id) }}" class="btn btn-secondary mt-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
        <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
    </svg>
    Delete
</a>

{% endblock %}