{% extends "base.html.jinja" %}

{% block title %}
Trash
{% endblock %}

{% block header %}
Trash
{% endblock %}

{% block content %}
  {% for page in trash_pages %}
  <div class="card mt-3">
    <div class="card-header">
      {{ page.title }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ page.content }}</p>
      <a href="{{ url_for('restore', page_id=page._id) }}" class="btn btn-secondary">Restore</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}